<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>hello vue.js</title>
  <style>
      #list{width:400px;border:1px solid black;border-collapse:collapse;}
      #list td,#list th{border:1px solid black;text-align:center;}
      #list>thread>tr{color:yellow;background-color:purple;}
  </style>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>
<body>
  <div id="example">
    <p>국가명:<input type="text" v-model="countryname" placeholder="국가명"/></p>
    <table id="list">
      <thead>
        <tr>
          <th>번호</th><th>국가명</th><th>수도</th><th>지역</th>
        </tr>
      </thead>
      <tbody id="contacts">
        <tr v-for="c in filtered">
          <td>{{c.no}}</td>
          <td>{{c.name}}</td>
          <td>{{c.capital}}</td>
          <td>{{c.region}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <script type="text/javascript">
   var model={
     countryname:"",
     countries:[
       {no:1,name:"미국",capital:"워싱턴DC",region:"america"},
       {no:2,name:"영국",capital:"런던",region:"london"},
       {no:3,name:"프랑스",capital:"파리",region:"paris"},
       {no:4,name:"중국",capital:"베이징",region:"baeiging"},
       {no:5,name:"일본",capital:"도쿄",region:"dokyo"},
       {no:6,name:"독일",capital:"프랑크푸르트",region:"sosegi"}
     ]
   }
   var clist=new Vue({
     el:'#example',
     data:model,
     computed:{
       filtered : function(){
         var cname = this.countryname.trim();
         return this.countries.filter(function(item,index){
           if(item.name.indexOf(cname)>-1){
             return true;
           }
         });
       }
     }
   });
  </script>
</body>
</html>